@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: rgba(0,0,0, 0.95);
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 200px;
 
  align-items: center;
}
.close{
  font-size: 40px;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-right: 30px;
  color: aliceblue;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
a:hover{
  color: #00ADEE;
}
.close:hover{
  color: #00ADEE;
}
.col{
  display: flex;
  justify-content: center;
  /* border: 2px solid #000; */
  padding: 12px;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
.icon{
  font-size: 100px;
  color: aliceblue;
  cursor: pointer;
}
.icon:hover{
  color: #00ADEE;
}
.text{
  font-size: 30px;
  color: aliceblue;
}